<div>
El balance de tu cuenta es: <%= @balance%>
<br>Monto:







<form method="post">
<input id = "monto" name="monto" type="number" >
<input action="depositar" id="depositar" name="depositar" type="submit" value="Depositar">
<input action="retirar"  id="retirar" name="retirar" type="submit" value="Retirar">
</form>





</div>


