<div>
El balance de tu cuenta es: 
<br>Monto:
<input id = "monto" name="monto" type="number">

<form method="post" action="depositar">
<input id="depositar" name="depositar" type="submit" value="Depositar">
</form>

</div>


